<html>
<head>
    <title>Spotifete</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-4.4.1-dist/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-4.4.1-dist/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-4.4.1-dist/bootstrap-reboot.min.css">
    <script type="text/javascript" src="static/js/jquery-3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-4.4.1-dist/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-4.4.1-dist/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
</head>
<body class="bg-dark text-center text-white">
<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-light bg-secondary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/static/SpotiFeteLogo.png" style="height:80%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-nav ml-auto">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Create</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Join</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
    <h1>Spotifete</h1>
    <p>Welcome! You can join an existing session or create a new one.</p>

    <div>
        <label for="joinIdInput">session ID</label>
        <input id="joinIdInput" />
        <button type="button" onclick="joinClicked()" class="btn btn-primary">Join</button>
    </div>

    {{ if .user }}
        <p>Logged in as {{ .user.SpotifyDisplayName }}</p>
        <p>Your active sessions:</p>
        <ul>
            {{ with .userSessions }}
                {{ range . }}
                    <li>
                        <a href="/session/view/{{ .JoinId }}">{{ .Title }}</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>

        <a href="/session/new">Create new Session</a>

        <br/>

        <a href="spotify/logout">Log out</a>
    {{ else }}
        <a href="spotify/login">Log in to Spotify to create a new session or view your existing ones</a>
    {{ end }}

    <hr/>

    <p>The current time is {{ .time}}</p>
    <p>There are {{ .activeSessionCount}} active sessions ({{ .totalSessionCount}} total)</p>
</body>
</html>
