<html>
<head>
    <title>Spotifete</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/viewSession.css">
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/viewSession.js"></script>
</head>
<body class="bg-dark text-white text-center">
    <input id="currentSessionJoinId" type="hidden" value="{{ .session.JoinId }}" />

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
        <a class="navbar-brand" href="/"><img src="/static/SpotiFeteLogo.png" class="img-fluid" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-nav ml-auto">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Get the App
                        <span class="fas fa-mobile-alt"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/app/android">
                            <span class="fab fa-android"></span>
                            Android
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="/app/ios">
                            <span class="fab fa-apple"></span>
                            iOS - Not available yet
                        </a>
                    </div>
                </li>
                {{ if .user }}
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            {{ .user.SpotifyDisplayName }}
                            <span class="fab fa-spotify"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <p class="dropdown-item-text">
                                <span class="fas fa-user"></span>
                                Logged in as spotify user {{ .user.SpotifyDisplayName }}
                            </p>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/spotify/logout">
                                <span class="fas fa-sign-out-alt"></span>
                                Logout
                            </a>
                        </div>
                    </li>
                {{ else }}
                    <li class="nav-item active">
                        <a class="nav-link" href="/spotify/login">
                            Login
                            <span class="fab fa-spotify"></span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </nav>

    <h1 class="display-2">Spotifete presents:</h1>
    <div>
        <h3>{{ .session.Title }}</h3>
        <p class="lead">You can join using the code {{ .session.JoinId }}</p>
    </div>

    <br/>

    <div class="jumbotron jumbotron-fluid bg-secondary text-center text-dark">
        <div class="container">
        <h4>Add songs to the queue!</h4>
        <input id="trackSearchInput" type="search" class="typeahead form-control form-control-lg" placeholder="Search tracks" autocomplete="off" spellcheck="false">
        </div>
    </div>

    <br/>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Song</th>
        </tr>
        </thead>
        <tbody>
        {{ if .session.CurrentlyPlaying }}
            <tr class="bg-info">
                <th scope="row">
                    Currently playing
                </th>
                <td>
                    <div class="media">
                        <img src="{{ .session.CurrentlyPlaying.AlbumImageThumbnailUrl }}" class="mr-3" alt="{{ .session.CurrentlyPlaying.AlbumName }}">
                        <div class="media-body">
                            <h5 class="mt-0">{{ .session.CurrentlyPlaying.TrackName }}</h5>
                            <p>{{ .session.CurrentlyPlaying.AlbumName }}</p>
                        </div>
                    </div>
                </td>
            </tr>
        {{ else }}
            <tr>
                <td colspan="2">The queue is empty! Go ahead and request a song!</td>
            </tr>
        {{ end }}

        {{ if .session.UpNext }}
            <tr>
                <th scope="row">
                    Up next
                </th>
                <td>
                    <div class="media">
                        <img src="{{ .session.UpNext.AlbumImageThumbnailUrl }}" class="mr-3" alt="{{ .session.UpNext.AlbumName }}">
                        <div class="media-body">
                            <h5 class="mt-0">{{ .session.UpNext.TrackName }}</h5>
                            <p>{{ .session.UpNext.AlbumName }}</p>
                        </div>
                    </div>
                </td>
            </tr>
        {{ end }}

        {{ range $index, $element := .session.Queue }}
            <tr>
                <th scope="row">
                    {{ $index }}
                </th>
                <td>
                    <div class="media">
                        <img src="{{ .AlbumImageThumbnailUrl }}" class="mr-3" alt="{{ .AlbumName }}">
                        <div class="media-body">
                            <h5 class="mt-0">{{ .TrackName }}</h5>
                            <p>{{ .AlbumName }}</p>
                        </div>
                    </div>
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>

    <!-- TODO: Find out if there is a way to do this check properly -->
    {{ if .user }}
        {{ if eq .session.Owner.SpotifyId  .user.SpotifyId }}
        <br/>

        <form action="/session/close" method="post">
            <input id="joinIdInput" type="hidden" name="joinId" value="{{ .session.JoinId }}" />
            <button type="submit" class="btn btn-danger">Close session</button>
        </form>
        {{ end }}
    {{ end }}
</body>
</html>